<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.RuSichPT.TestOrderMicroservice.mappers.OrderMapper">

    <resultMap id="OrderItemMap" type="com.github.RuSichPT.TestOrderMicroservice.order.OrderItem">
        <id property="id" column="id"/>
        <result property="orderId" column="order_id"/>
        <result property="itemName" column="item_name"/>
    </resultMap>

    <resultMap id="OrderMap" type="com.github.RuSichPT.TestOrderMicroservice.order.Order">
        <id property="id" column="id"/>
        <result property="orderStatusId" column="order_status_id"/>
        <result property="customerName" column="customer_name"/>
        <result property="customerPhone" column="customer_phone"/>
        <result property="customerComment" column="customer_comment"/>
        <collection property="orderItems" resultMap="OrderItemMap" columnPrefix="OI_"/>
    </resultMap>

    <insert id="insertOrder" keyColumn="ID" keyProperty="id" parameterType="com.github.RuSichPT.TestOrderMicroservice.order.Order">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT NEXTVAL('ORDER_SEQ')
        </selectKey>
        INSERT INTO "order" (ID, ORDER_STATUS_ID, CUSTOMER_NAME, CUSTOMER_PHONE, CUSTOMER_COMMENT)
        VALUES (#{id}, #{orderStatusId}, #{customerName}, #{customerPhone}, #{customerComment});

        INSERT INTO "order_item"(ID, ORDER_ID, ITEM_NAME) VALUES
        <foreach collection="orderItems" item="oi" separator=", ">
            (NEXTVAL('order_item_seq'), CURRVAL('order_seq'), #{oi.itemName})
        </foreach>
    </insert>

    <select id="selectOrder" parameterType="int" resultMap="OrderMap">
        SELECT
        o.ID,
        o.ORDER_STATUS_ID,
        o.CUSTOMER_NAME,
        o.CUSTOMER_PHONE,
        o.CUSTOMER_COMMENT,
        oi.ID AS OI_ID,
        oi.ORDER_ID AS OI_ORDER_ID,
        oi.ITEM_NAME AS OI_ITEM_NAME
        FROM "order" as o
        JOIN ORDER_ITEM as oi ON o.ID = oi.ORDER_ID
        WHERE o.ID = #{id}
    </select>

    <update id="updateOrder" parameterType="com.github.RuSichPT.TestOrderMicroservice.order.Order">
        UPDATE "order"
        SET
        ORDER_STATUS_ID = #{orderStatusId},
        CUSTOMER_NAME = #{customerName},
        CUSTOMER_PHONE = #{customerPhone},
        CUSTOMER_COMMENT = #{customerComment}
        WHERE ID = #{id}
    </update>

    <delete id="deleteOrder" parameterType="int">
        DELETE FROM "order_item" WHERE ORDER_ID = #{id};
        DELETE FROM "order" WHERE ID = #{id};
    </delete>

</mapper>