<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.RuSichPT.TestOrderMicroservice.mappers.OrderItemMapper">

    <insert id="insertOrderItemsByOrderId">
        INSERT INTO "order_item"(ID, ORDER_ID, ITEM_NAME) VALUES
        <foreach collection="orderItemList" item="oi" separator=", ">
            (NEXTVAL('order_item_seq'), #{orderId}, #{oi.itemName})
        </foreach>
    </insert>

    <update id="updateOrderItemByOrderId">
        UPDATE "order_item"
        SET ITEM_NAME = #{itemName}
        WHERE ID = #{id} AND ORDER_ID = #{orderId}
    </update>

    <delete id="deleteOrderItems">
        DELETE FROM "order_item" WHERE ID IN
        <foreach collection="orderItemList" item="oi" open="(" close=")" separator=", ">
            #{oi.id}
        </foreach>
    </delete>

</mapper>